@import '../../.././../styles.css';

.details {
    margin-bottom: 10px;
}

.details-fonts {
    font-weight: 500;
    color: gray;
}

.col-300 {
    font-size: 12px;
    line-height: 1.3;
}

.fs-7 {
    font-size: 14px;
}

.fs-9 {
    font-size: 11px;
}

@media (max-width: 300px) {
    .col-300 {
        width: 100%;
    }
}