<!-- <div class="text-center">
    <h6 class="m-0 pb-1" style="white-space: pre-wrap; line-height: 1.4;">{{ title }}</h6>
    <div mat-dialog-content>
        <mat-spinner [style.margin]="'auto'"></mat-spinner>
    </div>
</div> -->

<div class="text-center">
    <div mat-dialog-content>
        <img class="rotate_image" src="../../../../assets/images/E-Bank-new-I-removebg.png" alt="Bank" srcset="">
        <mat-spinner [style.margin]="'auto'"></mat-spinner>
    <span class="m-0 p-0 fs-6 fw-bold" style="white-space: pre-wrap;">{{ title }}</span>
    </div> 
</div>
